@import "styles/var.scss";

$x-padding: 30px;
$y-padding: 20px;
$input-length: 240px;
$input-height: 60px;

.searchBox {
    width: $input-length + $x-padding *2;
    height: $workspace-h;
    padding: $y-padding 0;
    position: absolute;
}

.input, .submit {
    width: $input-length;

    height: $input-height;
    font-size: $input-height * 0.4;
    color: white;
}

.input {
    margin: 0;
    padding: 0;
    margin: 12px 0;
    border-width: 0 0 1px 0;
    border-bottom-style: solid;
    border-bottom-color: white;
    line-height: $input-height;
    text-indent: .5em;
    background-color: $theme-color-input;

    &:focus {
      //border-color: $active-color;
      //background-color: lighten($input-bg-color, 10%);
      outline: 0;
    }
}

.submit {
    width:240px;
    position: absolute;
    left: 0;
    bottom: 30px;
    border-width: 0;
    border-radius: 10px;
    background-color: $theme-color-btn;
}

.input::-webkit-input-placeholder {
    color: white;
}

.submit{

}
