@import "styles/var.scss";

.ads {
    width: 100%;
    font-size: 40px;
    padding: 60px 0 40px 60px;
    height: 60px;
    color: $text-color-light;
    position: absolute;
    left: 0;
    top: $nav-h;
}
