@import "styles/var.scss";

.navbar {
    background-color: $bg-color;
    height: $nav-h;
}


.workspace {
    height: $workspace-h;
    .searchBox {
        margin-left: 60px;
    }
    //background-color: $theme-color;
    background: url("./images/banner.png");
}
